{% extends 'admin_login.html' %}
{% load static %}
{% block background %}
    <div style="height: auto; background:linear-gradient(rgb(4, 226, 255),white);">
{% endblock %}
{% block common %}
            <div class="my-2 my-lg-0">
              <button type="button" class="btn btn-success" id="home">Home</button>
              <button type="button" class="btn btn-success" id="create_user">Create User</button>
              <button type="button" class="btn btn-danger"id="logout">Logout</button>
            </div>
        </nav>
        <div class="table-responsive col-11" style="margin-top: 80px; margin-left: 10px; width: 1300px;">
          <table class="table table-striped table-dark" id="mytable" >
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">E-mail</th>
                <th scope="col">Mobile Number</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for user in user %}
              {% if not user.is_superuser%}
              <tr>
                <th>{{user.id}}</th>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.mobile}}</td>
                <td><button type="button" class="btn btn-success" id="edit">Edit</button></td>
                <td><a href="{% url 'deleteuser' user.id %}"><button type="button" class="btn btn-danger" id="delete">Delete</button></a></td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="{% static 'ajax_js/admin_userdata.js' %}"></script>
</html>
{% endblock %}