{% extends 'admin_login.html' %}
{% load static %}
{% block background %}
        <div style="height: auto; background:linear-gradient(rgb(4, 226, 255),white);">
{% endblock %}
{% block common %}
    <!-- Image and text -->
            <div class="my-2 my-lg-0">
              <button type="button" class="btn btn-danger"id="logout" style="margin-left: 10px;">Logout</button>
            </div>
        </nav>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-success  col-lg-6 col-10" style="margin-top:200px;" id="userdata">User Data</button>
        <button type="button" class="btn btn-success  col-lg-6 col-10" style="margin-top:10px;" id="bookdata">Book Data</button>
        <button type="button" class="btn btn-success  col-lg-6 col-10" style="margin-top:10px;" id="givebook">Give Book</button>
        <button type="button" class="btn btn-success  col-lg-6 col-10" style="margin-top:10px;"id="returnbook">Return Book</button>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="{% static 'ajax_js/admin_home.js'%}"></script>
</html>
{% endblock %}